*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1080px;
    display: flex ;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;

}
 
header{
    width: 100%;
    background-color: #000000;
}

.logo,.carrinho{
    width: 25px;
}
.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
}

.carrinho{
    f
}